<!doctype html>
<html>
  <head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ page_description | escape }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
      integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    {{ content_for_header }}
    <style>
      @font-face {
        font-family: 'Dexotick By Dhan Studio';
        src: url('https://cdn.shopify.com/s/files/1/0817/8067/0742/files/DexotickByDhanStudio.woff2?v=1693307733') format('woff2'), url('https://cdn.shopify.com/s/files/1/0817/8067/0742/files/DexotickByDhanStudio.woff?v=1693307733') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'Dexotick Underlines';
        src: url('https://cdn.shopify.com/s/files/1/0817/8067/0742/files/DexotickUnderlines.woff2?v=1693307733') format('woff2'), url('https://cdn.shopify.com/s/files/1/0817/8067/0742/files/DexotickUnderlines.woff?v=1693307733') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: 'MoretSemibold';
        src: url('https://cdn.shopify.com/s/files/1/0817/8067/0742/files/font.woff2?v=1694507256') format('woff2'), url('https://cdn.shopify.com/s/files/1/0817/8067/0742/files/font.woff?v=1694507256') format('woff');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
      }
      /*@font-face {
        font-family: 'Moret';
        src: url('https://cdn.shopify.com/s/files/1/0817/8067/0742/files/Moret-SemiboldOblique.woff2?v=1694413565') format('woff2'), url('https://cdn.shopify.com/s/files/1/0817/8067/0742/files/Moret-SemiboldOblique.woff?v=1694413572') format('woff');
        font-weight: 600;
        font-style: italic;
        font-display: swap;
      }*/
      {% if page.handle == 'about-happy-gut' %}
        .about-founder-cta {
          padding-bottom: 0 !important;
        }
      {% endif %}

      {% if page.handle == 'subscription' %}
        @media(min-width: 0px) {
          .ss-left .heading {
            padding-bottom: 4px;
          }
        }
        @media(min-width: 991px) {
          .ss-left .heading {
            padding-bottom: 8px;
          }
        }
        @media(min-width: 1400px) {
          .ss-left .heading {
            padding-bottom: 25px;
          }
        }
        .ss-left .heading p {
          right: -45px !important;
        }
        @media(max-width: 767px) {
          .ss-left .heading p {
            right: -35px !important;
          }
        }
        .subscribe {
          padding-top: 0 !important;
        }
      {% endif %}

      {% if page.handle == 'sustainability' %}
        .start-referring-section {
          padding-bottom: 0 !important;
        }
      {% endif %}
    </style>
    <!-- Header hook for plugins -->
    {{ 'application.css' | asset_url | stylesheet_tag }}
    {{ 'anshul.css' | asset_url | stylesheet_tag }}
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
    <script type="application/json" data-ajax-cart-initial-state>
      {{ cart | json }}
    </script>

    <script type="module">
      import '{{ "liquid-ajax-cart-v2.0.0.js" | asset_url }}';
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/infiniteslidev2@2.0.1-1/infiniteslidev2.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
      integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"
      integrity="sha512-Ic9xkERjyZ1xgJ5svx3y0u3xrvfT/uPkV99LBwe68xjy/mGtO+4eURHZBW2xW4SZbFrF1Tf090XqB+EVgXnVjw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>

    <script src="{{ 'jquery.in-viewport-class.js' | asset_url }}" defer></script>
    <script src="{{ 'application.js' | asset_url }}" defer></script>
    

      <script type="text/javascript" id="loop-subscription-script" src="{{ 'loop-widget.js' | asset_url }}"></script>
    
  </head>

    <style class="loop-style"> {% render 'loop-widget.css' %} </style>
    
  <body>
    <main role="main">
      {% if template == 'index' %}
        {% section 'loader' %}
      {% endif %}
      {% section 'announcement-bar' %}
      {% section 'header' %}

    {%- if request.path contains 'loop_subscriptions/bundle' or request.path contains 'loop_subscriptions/customer' -%}
      {% render 'loop_loader' %}
    {%- endif -%}
  
      {{ content_for_layout }}
    </main>
    {% section 'ajax-cart' %}
    {% section 'footer' %}
  </body>
  <script>
    function runWhenInit() {
      console.log("The current cart state is: ", window.liquidAjaxCart.cart);
    }

    if (window.liquidAjaxCart ?. init) { // if Liquid Ajax Cart is already initialized
      runWhenInit();
    } else { // wait for Liquid Ajax Cart to be initialized
      document.addEventListener("liquid-ajax-cart:init", runWhenInit);
    }
  </script>
</html>