<section class="pad-180">
  <div class="container">
    <div class="contact-form-wrapper">
      <div class="cf-left">
        <div class="cf-head">
          <h1>{{ section.settings.head }}</h1>
        </div>
        <div class="cf-para">
          <p>{{ section.settings.para }}</p>
        </div>
        <div class="cf-sm-links">
          <ul>
            <li>
              <div class="cfsl-head">
                <p>Email us at</p>
              </div>
              <div class="cfsl-link">
                <a href="mailto: {{ section.settings.email }}">{{ section.settings.email }}</a>
              </div>
            </li>
            <li>
              <div class="cfsl-head">
                <p>Call us at</p>
              </div>
              <div class="cfsl-link">
                <a href="#!" class="chat-button">{{ section.settings.ph-no }}</a>
              </div>
            </li>
            <li>
              <div class="cfsl-head">
                <p>Social media</p>
              </div>
              <div class="cfsl-link">
                <div class="sm-links">
                  {% for block in section.blocks %}
                    <a href="{{ block.settings.link }}" target="_blank"><img
                        src="{{ block.settings.link_img | img_url: 'master' }}"
                        alt=""
                        class="icons"></a>
                  {% endfor %}
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="cf-right">
        {% form 'contact' %}
          {% if form.posted_successfully? %}
            <script>
              window.location = "/pages/thank-you";
            </script>
          {% endif %}
          <div class="form-con">
            <label for="full-name">Full name</label><br>
            <input
              type="text"
              name="contact[first_name]"
              id="full-name"
              pattern="^(\w\w+)\s(\w+)$"
              required />
          </div>
          <div class="form-con">
            <label for="email">Email</label><br>
            <input
              type="email"
              name="contact[email]"
              id="email"
              placeholder="xyz@gmail.com"
              pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
              required />
          </div>
          <div class="form-con">
            <label for="request-type">Subject</label><br>
            <select
              id="request-type"
              name="contact[request_type]"
              required>
              <option>Returns</option>
              <option>Shipping</option>
              <option>Custom order</option>
              <option>Other</option>
            </select>
          </div>
          <div class="form-con">
            <label for="message">Message</label><br>
            <textarea
              name="contact[body]"
              id="message"
              placeholder="Type your message here"
              required></textarea>
          </div>
          <div class="form-con submit-but">
            <button class="custom-button" type="submit">
              Submit
            </button>
          </div>
        {% endform %}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Contact Form",
    "settings": [
      {
        "type": "text",
        "id": "head",
        "label": "Section heading"
      }, {
        "type": "text",
        "id": "para",
        "label": "Section Paragraph"
      }, {
        "type": "text",
        "id": "email",
        "label": "Email Address"
      }, {
        "type": "text",
        "id": "ph-no",
        "label": "Phone Number"
      }
    ],
    "blocks": [
      {
        "name": "Social Links",
        "type": "social-links",
        "settings": [
          {
            "type": "image_picker",
            "id": "link_img",
            "label": "Social Media Icon"
          }, {
            "type": "text",
            "id": "link",
            "label": "Social Media Link"
          }
        ]
      }
    ]
  }
{% endschema %}

<script>
  (function() {
    function onTidioChatApiReady() {
      window.tidioChatApi.hide();
    }

    if (window.tidioChatApi) {
      window.tidioChatApi.on("ready", onTidioChatApiReady);
    }

    document.querySelector(".chat-button").addEventListener("click", function() {
      window.tidioChatApi.show();
      window.tidioChatApi.open();
    });
  })();
</script>