<div class="founder-banner">
  <div class="custom-container-fluid">
    <div class="founder-banner-content">
      <div class="founder-banner-content-top">
        <div class="founder-banner-heading">
          <h1 class="txt-white">{{ section.settings.head }}</h1>
        </div>
        <div class="ban-subhead">
          <div class="founder-banner-subtext ban-sub-head yellow">
            {{ section.settings.subhead }}
          </div>
        </div>
      </div>
      <div class="founder-banner-content-bottom">
        <div class="founder-banner-body">
          <p class="white">{{ section.settings.para }}</p>
        </div>
      </div>
    </div>
    <div class="founder-banner-image">
      <div class="founder-banner-image-wrap">
        <div class="gutly-tag">
          <div class="gutly-tag-wrap">
            {{ section.settings.image_tag }}
          </div>
        </div>
        <div class="founder-banner-img">
          <img src="{{ section.settings.img | img_url: 'master' }}" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Founder Banner",
    "settings": [
      {
        "type": "image_picker",
        "id": "img",
        "label": "Banner Image"
      },
      {
        "type": "text",
        "id": "image_tag",
        "label": "Image Tag"
      },
      {
        "type": "text",
        "id": "head",
        "label": "Section Heading"
      },
      {
        "type": "text",
        "id": "subhead",
        "label": "Section Sub Heading"
      }, {
        "type": "text",
        "id": "para",
        "label": "Section Para Heading"
      }
    ]
  }
{% endschema %}