<header>
  <div class="container">
    <div class="nav-menu">
      <div class="nav-shop">
        <div class="shop-dd">
          <a href="javascript:void(0)" class="shop-dd-anchor">shop
            <span class="shop-dd-icon">{% render 'chevron-down' %}</span>
          </a>
        </div>
        <div class="shop-dd-menu">
          <div class="container">
            <div class="shop-dd-menu-wrap">
              <div class="shop-left-product">
                {% for block in section.blocks %}
                  <div class="slp-item">
                    <a href="{{ block.settings.navProduct.url }}">
                      <div class="slp-img">
                        <img src="{{ block.settings.navProduct.metafields.custom.nav_image }}" alt="">
                      </div>
                      <div class="slp-title">
                        <h6>{{ block.settings.navProduct.title }}</h6>
                      </div>
                      <div class="slp-desp">
                        <p>{{ block.settings.navProduct.metafields.custom.description_nav }}</p>
                      </div>
                    </a>
                  </div>
                {% endfor %}
              </div>
              <div class="shop-right-sample">
                <div class="srs-head">
                  <p>Not sure? Maybe try our sampler packs.</p>
                </div>
                <div class="srs-prod-con">
                  <div class="srs-prod-wrap">
                    <a href="{{ section.settings.sampleProduct }}">
                      <div class="srspw-img">
                        <img src="{{ section.settings.sampleImage | img_url: "master" }}" alt="">
                      </div>
                      <div class="srspw-txt">
                        <p>{{ section.settings.sampleTitle }}</p>
                      </div>
                    </a>
                  </div>
                  <div class="srs-prod-wrap">
                    <a href="{{ section.settings.sampleProduct1 }}">
                      <div class="srspw-img">
                        <img src="{{ section.settings.sampleImage1 | img_url: "master" }}" alt="">
                      </div>
                      <div class="srspw-txt">
                        <p>{{ section.settings.sampleTitle1 }}</p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="nav-logo">
        <a href="{{ shop.url  }}"><img
            src="{{ section.settings.navLogo | img_url: "master" }}"
            alt=""
            class="icons"></a>
      </div>
      <div class="nav-right-wrap">
        <div class="account">
          {% if shop.customer_accounts_enabled %}
            {% if customer %}
              <div class="cust-login">
                <a href="javascript:void(0)">{% render 'account-icon' %}</a>
                <div class="cust-login-dd">
                  <ul>
                    <li>
                      <a href="{{ routes.account_url }}">Account</a>
                    </li>
                    <li>
                      <a href="#!">Customer support</a>
                    </li>
                    <li>{{ 'Log Out' | customer_logout_link }}</li>
                  </ul>
                </div>
              </div>
            {% else %}
              <a href="{{ routes.account_login_url }}">{% render 'account-icon' %}</a>
            {% endif %}
          {% endif %}
        </div>
        <div class="nav-cart">
          <a
            href="#!"
            data-ajax-cart-section
            class="cart-open">Cart ({{ cart.item_count }})</a>
        </div>
        <div class="ham-menu">
          <button data-bs-toggle="offcanvas" data-bs-target="#demo">{% render 'ham-menu-icon' %}</button>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="offcanvas offcanvas-end header" id="demo">
  <div class="offcanvas-header">
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body">
    {% for link in section.settings.menu.links %}
      <div class="ham-menu-wrapper">
        {% if link.links != blank %}
          <div class="rl-con">
            <p class="ham-heading">{{ link.title }}</p>
            <div class="rl-ab">
              {% for childlink in link.links %}
                <a href="{{ childlink.url }}">
                  {{ childlink.title }}
                </a>
              {% endfor %}
            </div>
          </div>
        {% else %}
          <a href="{{ link.url }}" class="nm-l">{{ link.title }}</a>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>

<div class="mobile-header">
  <div class="container">
    <div class="mob-head-wrapper">
      <div class="mob-ham">
        <button class="mob-ham-but">
          {% render 'ham-menu-icon' %}
        </button>
      </div>
      <div class="mob-logo">
        <a href="{{ shop.url }}"><img
            src="https://cdn.shopify.com/s/files/1/0817/8067/0742/files/Gutly_logo_1.svg?v=1693376816"
            alt=""
            class="icons"></a>
      </div>
      <div class="mob-acc-cart">
        <div class="mob-account">
          <a href="{{ routes.account_url }}">{% render 'account-icon' %}</a>
        </div>
        <div class="mob-cart nav-cart">
          <a href="javascript:void(0)" data-ajax-cart-section>{% render 'bag-icon' %}<span>({{ cart.item_count }})</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mob-ham-wrapper">
  <div class="container">
    <div class="mhw-con">
      <div class="mhw-head">
        <button>
          <img
            src="https://cdn.shopify.com/s/files/1/0817/8067/0742/files/x_1.svg?v=1693554608"
            alt=""
            class="icons">
        </button>
      </div>
      <div class="mhw-con-inner">
        <div class="mhw-product">
          <div class="mob-grab">
            <p>GRAB A PACK</p>
          </div>
          <div class="shop-left-product">
            {% for block in section.blocks %}
              <div class="slp-item">
                <a href="{{ block.settings.navProduct.url }}">
                  <div class="slp-img">
                    <img src="{{ block.settings.navProduct.metafields.custom.nav_image }}" alt="">
                  </div>
                  <div class="slp-title">
                    <h6>{{ block.settings.navProduct.title }}</h6>
                  </div>
                  <div class="slp-desp">
                    <p>{{ block.settings.navProduct.metafields.custom.description_nav }}</p>
                  </div>
                  <div class="slp-cta">
                    buy now
                  </div>

                </a>
              </div>
            {% endfor %}
          </div>
          <h5>Not Sure? <br> Try Our Sample Pack</h5>
          <div class="mob-sample-prod">
            <div class="mcp-wrap">
              <a href="{{ section.settings.sampleProduct }}">
                <div class="srspw-img">
                  <img
                    src="{{ section.settings.sampleImage | img_url: "master" }}"
                    alt=""
                    class="icons">
                </div>
                <p>{{ section.settings.sampleTitle }}</p>
              </a>
            </div>
            <div class="mcp-wrap">
              <a href="{{ section.settings.sampleProduct1 }}">
                <div class="srspw-img">
                  <img
                    src="{{ section.settings.sampleImage1 | img_url: "master" }}"
                    alt=""
                    class="icons">
                </div>
                <p>{{ section.settings.sampleTitle1 }}</p>
              </a>
            </div>
          </div>
        </div>
        <div class="mhw-nav">
          <ul>
            {% for link in section.settings.menu1.links %}
              <li>
                <a href="{{ link.url }}" class="mn-nav-a">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Heading Navigation Menu",
        "default": "main-menu"
      },
      {
        "type": "image_picker",
        "id": "sampleImage",
        "label": "Sample Product Image"
      },
      {
        "type": "text",
        "id": "sampleTitle",
        "label": "Sample Title",
        "default": "Egg white sample pack (25g)"
      },
      {
        "type": "text",
        "id": "sampleProduct",
        "label": "Sample Products",
        "default": "https://gutly-ui.myshopify.com/products/egg-white-protein-powder?variant=46298263060758"
      }, {
        "type": "image_picker",
        "id": "sampleImage1",
        "label": "Sample Product Image"
      }, {
        "type": "text",
        "id": "sampleTitle1",
        "label": "Sample Title",
        "default": "Vegan sample pack (25g)"
      }, {
        "type": "text",
        "id": "sampleProduct1",
        "label": "Sample Products",
        "default": "https://gutly-ui.myshopify.com/products/vegan-protein-powder?variant=46298269417750"
      }, {
        "type": "image_picker",
        "id": "sampleImage2",
        "label": "Sample Product Image"
      }, {
        "type": "text",
        "id": "sampleTitle2",
        "label": "Sample Title",
        "default": "Vegan sample pack (25g)"
      }, {
        "type": "text",
        "id": "sampleProduct2",
        "label": "Sample Products",
        "default": "https://gutly-ui.myshopify.com/products/vegan-protein-powder?variant=46298269417750"
      }, {
        "type": "image_picker",
        "id": "navLogo",
        "label": "Gutly Logo"
      }, {
        "type": "link_list",
        "id": "menu1",
        "label": "Mobile Heading Navigation Menu",
        "default": "main-menu"
      }
    ],
    "blocks": [
      {
        "type": "productNav",
        "name": "Product Navigation",
        "settings": [
          {
            "type": "product",
            "id": "navProduct",
            "label": "Header Products"
          }
        ]
      }
    ]
  }
{% endschema %}

<script>
  $(document).ready(function() {
    $(".mob-ham-but").click(function() {
      $(".mob-ham-wrapper").addClass("active");
      $("body").addClass("overflow-hide");
    });
    $(".mhw-head button").click(function() {
      $(".mob-ham-wrapper").removeClass("active");
      $("body").removeClass("overflow-hide");
    });
  });

// Header Js
  $(window).scroll(function() {
    if ($(this).scrollTop() > 10) {
      $('#shopify-section-header').addClass('backdrop');
    } else {
      $('#shopify-section-header').removeClass('backdrop');
    }
  });

// Get the current page's URL
  const currentPageURL = window.location.href;

// Get all anchor elements inside menu items
  const menuAnchors = document.querySelectorAll('.rl-ab a');

// Loop through anchor elements to find the active one
  menuAnchors.forEach((anchor) => {
    const anchorURL = anchor.href;

    if (currentPageURL === anchorURL) {
      anchor.classList.add('active');
    }
  });
</script>