<section class="pad-180">
  <div class="container">
    <div class="prod-ing">
      <div class="heading center">
        <div class="head">
          <h3>{{ section.settings.head }}</h3>
        </div>
        <div class="para">
          <p>{{ section.settings.para }}</p>
        </div>
      </div>
      <div class="pi-wrapper">
        <div class="click-open-cards">
          {% assign number = product.metafields.custom.number_of_ingredients | plus: 0 %}
          {% for i in (1..number) %}
            <div class="item">
              <div class="head">
                <div class="head-wrap">
                  <p>{{ block.settings.head }}</p>
                  <a href="javascript:void(0)" class="plusminus"></a>
                </div>
              </div>
              <div class="box">
                <div class="box-con">
                  <div class="cardheading">
                    <h6>{{ block.settings.card-head }}</h6>
                  </div>
                  <div class="para">
                    <p>{{ block.settings.card-para }}</p>
                  </div>
                  <div class="cta">
                    <a href="{{ block.settings.cta_link }}">{{ block.settings.cta_txt }}</a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .click-open-cards .item .head-wrap {
    background-image: url('{{ section.settings.bg1 | img_url: 'master' }}');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .click-open-cards .item:nth-child(even) .head-wrap {
    background-image: url("{{ section.settings.bg2 | img_url: 'master' }}");
  }
</style>

{% schema %}
  {
    "name": "Product Ingredients",
    "settings": [
      {
        "type": "text",
        "id": "head",
        "label": "Heading"
      }, {
        "type": "text",
        "id": "para",
        "label": "Paragraph"
      }, {
        "type": "image_picker",
        "id": "bg1",
        "label": "Yellow Background"
      }, {
        "type": "image_picker",
        "id": "bg2",
        "label": "Green Background"
      }
    ]
  }
{% endschema %}

<script>
  $(document).ready(function() {
    $('.plusminus').click(function() {

// Check if the closest 'item' element already has the 'active' class
      var $closestItem = $(this).closest('.item');
      if ($closestItem.hasClass('active')) {
        $closestItem.removeClass('active');
      } else { // Remove 'active' class from all 'item' elements
        $('.item').removeClass('active');

// Add 'active' class to the parent 'item' element of the clicked 'plusminus'
        $closestItem.addClass('active');
      }
    });
  });
</script>