<section class="pad-180 bg-color" id="ingredients">
  <div class="container">
    <div class="prod-ing">
      <div class="heading center">
        <div class="head">
          <h3>{{ section.settings.head }}</h3>
        </div>
        <div class="para">
          <p>{{ section.settings.para }}</p>
        </div>
      </div>
      <div class="pi-wrapper">
        <div class="click-open-cards">
          {% for item in product.metafields.custom.ingredient.value %}
            <div class="item">
              <div class="head">
                <div class="head-wrap">
                  <p>{{ item.heading }}</p>
                  <a href="javascript:void(0)" class="plusminus"></a>
                </div>
              </div>
              <div class="box">
                <div class="box-con">
                  <div class="cardheading">
                    <h6>{{ item.para }}</h6>
                  </div>
                  <div class="para">
                    <p>{{ item.sub_head }}</p>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .click-open-cards .item .head-wrap {
    background-image: url('{{ section.settings.bg1 | img_url: 'master' }}');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .click-open-cards .item:nth-child(even) .head-wrap {
    background-image: url("{{ section.settings.bg2 | img_url: 'master' }}");
  }
  .bg-color {
    background-color: {{ section.settings.background-color }}
    ;
  }
</style>

{% schema %}
  {
    "name": "Product Ingredients",
    "settings": [
      {
        "type": "text",
        "id": "background-color",
        "label": "Background Color"
      },
      {
        "type": "text",
        "id": "head",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "para",
        "label": "Paragraph"
      },
      {
        "type": "image_picker",
        "id": "bg1",
        "label": "Yellow Background"
      }, {
        "type": "image_picker",
        "id": "bg2",
        "label": "Green Background"
      }
    ]
  }
{% endschema %}

<script>
  $(document).ready(function() {
    $('.plusminus').click(function() {

// Check if the closest 'item' element already has the 'active' class
      var $closestItem = $(this).closest('.item');
      if ($closestItem.hasClass('active')) {
        $closestItem.removeClass('active');
      } else { // Remove 'active' class from all 'item' elements
        $('.item').removeClass('active');

// Add 'active' class to the parent 'item' element of the clicked 'plusminus'
        $closestItem.addClass('active');
      }
    });
  });
</script>

<script>
  // init controller
  var controller1 = new ScrollMagic.Controller({
    globalSceneOptions: {
      duration: '97%'
    }
  });

// build scenes
  new ScrollMagic
    .Scene({triggerElement: "#ingredients"})
    .setClassToggle("#ingredient", "active") // add class toggle
    .addTo(controller1);
</script>