<section class="pad-180">
  <div class="container">
    <div class="ingredients trans">
      <div class="heading center">
        <div class="head over-hid">
          <h3 class="trans-first">
            {{ section.settings.head }}
          </h3>
        </div>
        <div class="subhead over-hid">
          <p class="trans-sec">{{ section.settings.subhead }}</p>
        </div>
        <div class="cta over-hid trans-third">
          <a href="{{ section.settings.cta_link.url }}/#ingredients" class="primary-button yellow-black">{{ section.settings.cta_text }}</a>
        </div>
      </div>
      <div class="ing-grid trans">
        {% for block in section.blocks %}
          <div class="item">
            <div class="ing-grid-con">
              <p class="small ing-h">
                {{ block.settings.head }}
              </p>
              <p class="ing-sh">
                {{ block.settings.subhead }}
              </p>
              <p class="small ing-p">
                {{ block.settings.para }}
              </p>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="ing-mob-slider">
        <div class="owl-carousel owl-theme">
          {% for block in section.blocks %}
            <div class="item">
              <div class="ing-grid-con">
                <div class="ing-h-con">
                  <p class="small ing-h">
                    {{ block.settings.head }}
                  </p>
                </div>
                <div class="ing-sh-con">
                  <p class="ing-sh">
                    {{ block.settings.subhead }}
                  </p>
                </div>
                <div class="ing-p-con">
                  <p class="small ing-p">
                    {{ block.settings.para }}
                  </p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $('.ing-mob-slider .owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    items: 1,
    nav: true,
    dots: false,
    navText: [
        	"<img src='https://cdn.shopify.com/s/files/1/0817/8067/0742/files/arrow-right_6.svg?v=1695971957'>",
        	"<img src='https://cdn.shopify.com/s/files/1/0817/8067/0742/files/arrow-right_5.svg?v=1695971952'>"
    		],
    animateOut: 'fadeOut',
    responsiveClass:true,
    responsive:{
        0:{
            items:1,
        },
        600:{
            items:1,
        },
        1000:{
            items:1,
        }
    }
})
</script>

{% schema %}
  {
    "name": "Ingredients Section",
    "settings": [
      {
        "type": "text",
        "id": "head",
        "label": "Section Heading"
      }, {
        "type": "text",
        "id": "subhead",
        "label": "Section Sub Heading"
      }, {
        "type": "page",
        "id": "cta_link",
        "label": "Link For CTA"
      }, {
        "type": "text",
        "id": "cta_text",
        "label": "Text For CTA"
      }
    ],
    "blocks": [
      {
        "type": "ing_grid",
        "name": "Ingredients Grid",
        "settings": [
          {
            "type": "text",
            "id": "head",
            "label": "Ingredient Heading"
          }, {
            "type": "text",
            "id": "subhead",
            "label": "Ingredient Subhead"
          }, {
            "type": "text",
            "id": "para",
            "label": "Ingredient Paragraph"
          }
        ]
      }
    ]
  }
{% endschema %}