<div id="benefits" class="over-hid">
  <section class="parallax-slides">
    <div class="parallax-slides-wrap">
      {% for block in section.blocks %}
        <div class="parallax-slide">
          <div class="parallax-slide-content">
            <div class="parallax-slide-content-wrap">
              <div class="parallax-slide-head">
                <h3>{{ block.settings.headText }}</h3>
              </div>
              <div class="parallax-slide-body">
                <p>{{ block.settings.bodText }}</p>
              </div>
            </div>
          </div>
          <div class="parallax-slide-image">
            <img src="{{ block.settings.imgLink | img_url: 'master' }}" alt="">
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
  <section class="parallax-slides-mobile parallax-swiper" id="benefits">
    <div class="parallax-slides-mobile-wrap swiper-wrapper">
      {% for block in section.blocks %}
        <div class="parallax-slide-mob swiper-slide">
          <div class="parallax-slide-image-mob">
            <img src="{{ block.settings.imgLink | img_url: 'master' }}" alt="">
          </div>
          <div class="parallax-slide-content-mob">
            <div class="parallax-slide-content-mob-wrap">
              <div class="parallax-slide-head">
                <h3>{{ block.settings.headText }}</h3>
              </div>
              <div class="parallax-slide-body">
                <p>{{ block.settings.bodText }}</p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="parallax-slides-mobile-nav">
      <div class="parallax-slides-mobile-nav-prev">
        <img src="https://cdn.shopify.com/s/files/1/0817/8067/0742/files/arrow-right_1.svg?v=1693902975" alt="">
      </div>
      <div class="parallax-slides-mobile-nav-next">
        <img src="https://cdn.shopify.com/s/files/1/0817/8067/0742/files/arrow-right_1.svg?v=1693902975" alt="">
      </div>
    </div>
  </section>
</div>


<script>
  gsap.registerPlugin(ScrollTrigger);

  const tl = gsap
    .timeline({
      scrollTrigger: {
        trigger: ".parallax-slides",
        markers: false,
        start: "10% 19%",
        end: "180% bottom",
        pin: true,
        scrub: 1,
        onUpdate: (self) => {
          const progress = self.progress;
          if (progress === 0) {} else if (progress <= 0.50) {
            gsap.set('.parallax-slide-image', {position: 'fixed'});
          } else if (progress <= 1) {} else {};
        }
      }
    })
    tl
    .to(".parallax-slide-content", {
      transform: 'translate3d(0,-100vh,0)'
    }, 0)
    .to(".parallax-slides-wrap .parallax-slide:nth-child(2) .parallax-slide-image", {
      height: '100vh'
    }, 0)
    .to(".parallax-slide-content", {
      transform: 'translate3d(0,-200vh,0)'
    }, 0.5)
    .to(".parallax-slides-wrap .parallax-slide:nth-child(3) .parallax-slide-image", {
      height: '100vh'
    }, 0.5)



  const swiper = new Swiper('.parallax-swiper', {
    loop: false,
    autoHeight: true,

    navigation: {
      nextEl: '.parallax-slides-mobile-nav-next',
      prevEl: '.parallax-slides-mobile-nav-prev'
    }

  });
</script>
<script>
  var controller1 = new ScrollMagic.Controller({
    globalSceneOptions: {
      duration: '100%'
    }
  });

  new ScrollMagic.Scene({triggerElement: "#benefits"}).setClassToggle("#benefit", "active") .addTo(controller1);
</script>
{% schema %}
  {
    "name": "Parallax Slides Product",
    "blocks": [
      {
        "type": "parallaxSlide",
        "name": "Parallax Slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "imgLink",
            "label": "Slide Image"
          }, {
            "type": "text",
            "id": "headText",
            "label": "Slide Heading"
          }, {
            "type": "text",
            "id": "bodText",
            "label": "Slide Body"
          }
        ]
      }
    ]
  }
{% endschema %}