<section class="recipe-inner-banner">
  <div class="rib-wrapper">
    <div class="rib-text-wrapper">
      <div class="container">
        <div class="rib-text">
          <div class="sub-head">
            <p class="trans-first">New recipe</p>
          </div>
          <div class="head over-hid">
            <h1 class="trans-sec">{{ article.title }}</h1>
          </div>
          <div class="para over-hid">
            <p class="trans-sec">{{ article.content }}</p>
          </div>
          <div class="author over-hid">
            <p class="trans-third">by:
              <span class="autor">{{ article.author }}</span>
              <span class="date">
                <time datetime="{{ article.published_at | date: '%B %d, %Y' }}">{{ article.published_at | date: '%B %d, %Y' }}</time>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="riv-img">
      <div class="rivi-img">
        <img
          src="{{ article.image | img_url: 'master' }}"
          alt=""
          class="img">
      </div>
    </div>
  </div>
</section>

<script>
  setTimeout(function() {
    $('.recipe-inner-banner').addClass('active');
  }, 0);
</script>