<section class="pad-180">
  <div class="container">
    <div class="recipe-inner-wrapper">
      <div class="riw-left">
        <div class="prep-data trans">
          {% for item in article.metafields.custom.recipe_preparation.value %}
            <div class="cat-name trans-first">
              <div class="head">
                <p class="small">Category</p>
              </div>
              <div class="data">Smoothie</div>
            </div>
            <div class="serve trans-sec">
              <div class="head">
                <p class="small">Servings</p>
              </div>
              <div class="data">{{ item.servings }}</div>
            </div>
            <div class="prep-time trans-third">
              <div class="head">
                <p class="small">Prep Time</p>
              </div>
              <div class="data">{{ item.prep_time }}</div>
            </div>
            <div class="cook-time trans-fourth">
              <div class="head">
                <p class="small">Cook Time</p>
              </div>
              <div class="data">{{ item.cook_time }}</div>
            </div>
            <div class="diff trans-fifth">
              <div class="head">
                <p class="small">Difficulty</p>
              </div>
              <div class="data">{{ item.difficulty }}</div>
            </div>
          {% endfor %}
        </div>
        <div class="ingre-top trans">
          <div class="ingre-data">
            <div class="head over-hid">
              <p class="small trans-sec">Ingredients</p>
            </div>
            <div class="steps over-hid">
              <ul>
                {% for item in article.metafields.custom.recipe_ingredients.value %}
                  <li class="trans-sec">
                    {{ item.recipe_ingredient }}
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="topping-data">
            <div class="head over-hid">
              <p class="small trans-sec">Toppings</p>
            </div>
            <div class="steps over-hid">
              <ul>
                {% for item in article.metafields.custom.toppings.value %}
                  <li class="trans-sec">
                    {{ item.topping }}
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="direc-data trans">
          <div class="head over-hid">
            <p class="small trans-sec">Directions</p>
          </div>
          <ol>
            {% for item in article.metafields.custom.directions.value %}
              <li class="trans-sec">
                <p>{{ item.direction }}</p>
              </li>
            {% endfor %}
          </ol>
        </div>
      </div>
      <div class="riw-img trans">
        <img
          src="{{ article.metafields.custom.recipe_image | img_url: 'master' }}"
          alt=""
          class="img trans-img">
      </div>
    </div>
  </div>
</section>