<section class="pad-180">
  <div class="road-to-hp">
    <div class="container">
      <div class="road-to-hp-wrap trans">
        <div class="heading center over-hid">
          <h3 class="trans-first">{{ section.settings.head }}</h3>
        </div>
        {% if section.settings.body_enable %}
          <div class="body center over-hid">
            <p class="trans-sec">{{ section.settings.bod }}</p>
          </div>
        {% endif %}
        <div class="road-to-hp-flex trans">
          {% for block in section.blocks %}
            <div class="item flex">
              <div class="head" style="background-image: url('{{ block.settings.bgImg | img_url: 'master' }}');">
                <div class="head-small">
                  <p>{{ block.settings.smallHead }}</p>
                </div>
                <div class="head-big">
                  <p>{{ block.settings.bigHead }}</p>
                </div>
              </div>
              <div class="subtxt">
                <div class="st-head">
                  <h6>{{ block.settings.mainHead }}</h6>
                </div>
                <div class="para">
                  <p>{{ block.settings.mainPara }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% style %}
  .road-to-hp.bg {
    background: {{ section.settings.color_bg }}
    ;
  }
{% endstyle %}


{% schema %}
  {
    "name": "Road to Happy Gut",
    "settings": [
      {
        "type": "text",
        "id": "head",
        "label": "Section Heading"
      }, {
        "type": "text",
        "id": "bod",
        "label": "Section Body"
      }, {
        "type": "color",
        "id": "color_bg",
        "label": "Background Color For Section"
      }, {
        "type": "checkbox",
        "id": "body_enable",
        "label": "Do you want to add body text?"
      }
    ],
    "blocks": [
      {
        "name": "Road To Happy Gut",
        "type": "road-to-hp-white",
        "limit": 3,
        "settings": [
          {
            "type": "image_picker",
            "id": "bgImg",
            "label": "Background Image"
          },
          {
            "type": "text",
            "id": "smallHead",
            "label": "Small Heading within Background Image"
          },
          {
            "type": "text",
            "id": "bigHead",
            "label": "Big Heading within Background Image"
          },
          {
            "type": "text",
            "id": "mainHead",
            "label": "Main Heading"
          }, {
            "type": "text",
            "id": "mainPara",
            "label": "Main Paragraph"
          }
        ]
      }
    ]
  }
{% endschema %}