<section class="pad-180">
  <div class="container">
    <div class="sample-section trans">
      <div class="egg-sample sample-half">
        <div class="up-txt">
          <div class="head">
            <h3>{{ section.settings.eggHead }}</h3>
          </div>
          <div class="para">
            <p>{{ section.settings.eggPara }}</p>
          </div>
          <div class="cta">
            <a href="https://gutly-ui.myshopify.com/products/egg-white-protein-powder?variant=46298263060758" class="primary-button yellow-black">{{ section.settings.cta_egg_txt }}</a>
          </div>
        </div>
        <div class="bt-img">
          <div class="samp-img">
            <img
              src="{{ section.settings.eggImg | img_url: 'master' }}"
              alt=""
              class="img">
          </div>
        </div>
      </div>
      <div class="hemp-sample sample-half">
        <div class="up-txt">
          <div class="head">
            <h3>{{ section.settings.hempHead }}</h3>
          </div>
          <div class="para">
            <p>{{ section.settings.hempPara }}</p>
          </div>
          <div class="cta">
            <a href="https://gutly-ui.myshopify.com/products/vegan-protein-powder?variant=46298269417750" class="primary-button yellow-black">{{ section.settings.cta_hemp_txt }}</a>
          </div>
        </div>
        <div class="bt-img">
          <div class="samp-img">
            <img
              src="{{ section.settings.hempImg | img_url: 'master' }}"
              alt=""
              class="img">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Sample Section",
    "settings": [
      {
        "type": "image_picker",
        "id": "eggImg",
        "label": "Egg Sample Image"
      },
      {
        "type": "text",
        "id": "eggHead",
        "label": "Egg Sample Heading"
      },
      {
        "type": "text",
        "id": "eggPara",
        "label": "Egg Sample Paragraph"
      },
      {
        "type": "text",
        "id": "cta_egg_txt",
        "label": "Egg Sample CTA Text"
      }, {
        "type": "product",
        "id": "cta_egg_url",
        "label": "Select Egg Sample"
      }, {
        "type": "image_picker",
        "id": "hempImg",
        "label": "Egg Sample Image"
      }, {
        "type": "text",
        "id": "hempHead",
        "label": "Egg Sample Heading"
      }, {
        "type": "text",
        "id": "hempPara",
        "label": "Egg Sample Paragraph"
      }, {
        "type": "text",
        "id": "cta_hemp_txt",
        "label": "Hemp Sample CTA Text"
      }, {
        "type": "product",
        "id": "cta_hemp_url",
        "label": "Select Hemp Sample"
      }
    ]
  }
{% endschema %}