<section class="padb-90 trans" id="how-to-use">
  <div class="solution-problem-wrapper">
    <div class="problem trans">
      <div class="prob-head">
        <div class="head over-hid">
          <h3 class="trans-first">{{ section.settings.problemHead }}</h3>
        </div>
        <div class="sub-head over-hid">
          <p class="trans-first">{{ section.settings.problemPara }}</p>
        </div>
      </div>
      <div class="prob-grid trans">
        {% for block in section.blocks %}
          <div class="item">
            <div class="pb-img">
              <img
                src="{{ block.settings.pb_img | img_url: "master" }}"
                alt=""
                class="icons">
            </div>
            <div class="pb-txt">
              <p class="small">{{ block.settings.pb_text }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="solution over-hid">
      <div class="sl-head-wrap trans">
        <div class="sl-head over-hid">
          <h3 class="txt-white trans-first">{{ section.settings.solutionHead }}</h3>
        </div>
        <div class="sl-para over-hid">
          <p class="trans-sec">{{ section.settings.solutionPara }}</p>
        </div>
      </div>
      <div class="sl-img-wrap trans">
        <div class="sl-img">
          <img
            src="{{ section.settings.slImage | img_url: "master" }}"
            alt=""
            class="img">
          <div class="sl-txt">
            <p>{{ section.settings.sl-sm-txt }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="sl-foodmap-wrap" style="display:none">
      <div class="slfw-img">
        <img
          src="{{ section.settings.foodmapImage | img_url: 'master' }}"
          alt=""
          class="icons">
      </div>
      <div class="slfw-txt">
        <p>Our {{ product.title }} is</p>
      </div>
      <div class="slfw-cta">
        <a href="{{ section.settings.foodmapCta }}">Low FODMAP certified!</a>
      </div>
    </div>
  </div>
  <div class="certified-section-wrapper">
        <div class="certified-section-box">
             <div class="certified-img">
               <img src="https://cdn.shopify.com/s/files/1/0817/8067/0742/files/shopify-overlay.png?v=1699361437" alt="Shopify Overlay">
             </div>
          <div class="certified-content">
            <div class="certified-content-title">
                 <h3>{{ product.metafields.custom.certified_head }}</h3>
            </div>
            <div class="certified-content-flex">
              <div class="certified-content-img">
                <img src="https://cdn.shopify.com/s/files/1/0817/8067/0742/files/monash.png?v=1699361518" alt="Monash Logo">
              </div>
              <div class="certified-content-modal">
            {% if product.metafields.custom.certified_ %}    
                <div class="certified-content-para">
                    <p>Our {{ product.title }} is </p>
                  <div class="certified-modal-main">
                    <div class="certified-link-flex">
                      <a href="{{ section.settings.foodmapCta }}" class="certified-content-link">Low FODMAP Certified</a>
                      <div class="certified-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                        <path d="M6.80884 4.81124V3.99292H7.60048V4.81124H6.80884ZM6.80884 10.4639V5.6607H7.60048V10.4639H6.80884Z" fill="#222222"/>
                        <circle cx="7.2041" cy="7.22754" r="6.27246" stroke="#222222"/>
                        </svg>
                      </div>
                    </div>
                    {% else %}
                   <div class="certified-content-para">
                    
                  <div class="certified-modal-main">
                    <div class="certified-link-flex">
                      <p>We are awaiting <a href="{{ section.settings.foodmapCta }}" class="certified-content-link">Low FODMAP</a></p>
                    </div>
                    <p>Certification for {{ product.title }}</p>
                  </div>
                      {% endif %}   
                    <div class="certified-modal-box">
                      <div class="certified-modal-cross">
                          <div  class="certified-cross-modal-link">
                            <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.165 1.42969L1.16504 11.4297" stroke="#222222" stroke-width="1.3" stroke-linecap="square" stroke-linejoin="round"/>
                                <path d="M1.16504 1.42969L11.165 11.4297" stroke="#222222" stroke-width="1.3" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                          </div>
                      </div>
                      <div class="certified-modal-para">
                            <p>Monash University Low FODMAP Certified trade marks used under licence in Australia by Start Circles 
                              Pty Ltd. One serve of this product is low in FODMAPs and can assist with following the Monash 
                              University Low FODMAP Diet<sup>TM</sup>. A strict low FODMAP diet should only be commenced under the supervision 
                              of a healthcare professional. Monash University has assessed this product as being low in FODMAPs only.
                            </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "solution Section",
    "settings": [
      {
        "type": "text",
        "id": "problemHead",
        "label": "Problem Heading"
      },
      {
        "type": "text",
        "id": "problemPara",
        "label": "Problem Subhead"
      },
      {
        "type": "text",
        "id": "solutionHead",
        "label": "Solutiom head"
      },
      {
        "type": "text",
        "id": "solutionPara",
        "label": "Solution Subhead"
      }, {
        "type": "image_picker",
        "id": "slImage",
        "label": "Solution Image"
      }, {
        "type": "text",
        "id": "sl-sm-txt",
        "label": "Solution label Text"
      }, {
        "type": "image_picker",
        "id": "foodmapImage",
        "label": "Fodmap Image"
      }, {
        "type": "text",
        "id": "foodmapPara",
        "label": "Fodmap Text"
      }, {
        "type": "text",
        "id": "foodmapCta",
        "label": "Fodmap Cta Link",
        "default": "https://www.monashfodmap.com/"
      }
    ],
    "blocks": [
      {
        "name": "Problem Grid",
        "type": "problemGrid",
        "settings": [
          {
            "type": "image_picker",
            "id": "pb_img",
            "label": "Problem Icon"
          }, {
            "type": "text",
            "id": "pb_text",
            "label": "Problem Text"
          }
        ]
      }
    ]
  }
{% endschema %}

<script>
  var controller1 = new ScrollMagic.Controller({
    globalSceneOptions: {
      duration: '70%'
    }
  });

  new ScrollMagic.Scene({triggerElement: "#how-to-use"}).setClassToggle("#use", "active").addTo(controller1);
</script>