<section class="padb-90 trans" id="how-to-use">
  <div class="solution-problem-wrapper">
    <div class="problem trans">
      <div class="prob-head">
        <div class="head over-hid">
          <h3 class="trans-first">{{ section.settings.problemHead }}</h3>
        </div>
        <div class="sub-head over-hid">
          <p class="trans-first">{{ section.settings.problemPara }}</p>
        </div>
      </div>
      <div class="prob-grid trans">
        {% for block in section.blocks %}
          <div class="item">
            <div class="pb-img">
              <img
                src="{{ block.settings.pb_img | img_url: "master" }}"
                alt=""
                class="icons">
            </div>
            <div class="pb-txt">
              <p class="small">{{ block.settings.pb_text }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="solution over-hid">
      <div class="sl-head-wrap trans">
        <div class="sl-head over-hid">
          <h3 class="txt-white trans-first">{{ section.settings.solutionHead }}</h3>
        </div>
        <div class="sl-para over-hid">
          <p class="trans-sec">{{ section.settings.solutionPara }}</p>
        </div>
      </div>
      <div class="sl-img-wrap trans">
        <div class="sl-img">
          <img
            src="{{ section.settings.slImage | img_url: "master" }}"
            alt=""
            class="img">
          <div class="sl-txt">
            <p>{{ section.settings.sl-sm-txt }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="sl-foodmap-wrap">
      <div class="slfw-img">
        <img
          src="{{ section.settings.foodmapImage | img_url: 'master' }}"
          alt=""
          class="icons">
      </div>
      <div class="slfw-txt">
        <p>{{ section.settings.foodmapPara }}</p>
      </div>
      <div class="slfw-cta">
        <a href="{{ section.settings.foodmapCta }}">Low FODMAP certified!</a>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "solution Section",
    "settings": [
      {
        "type": "text",
        "id": "problemHead",
        "label": "Problem Heading"
      },
      {
        "type": "text",
        "id": "problemPara",
        "label": "Problem Subhead"
      },
      {
        "type": "text",
        "id": "solutionHead",
        "label": "Solutiom head"
      },
      {
        "type": "text",
        "id": "solutionPara",
        "label": "Solution Subhead"
      }, {
        "type": "image_picker",
        "id": "slImage",
        "label": "Solution Image"
      }, {
        "type": "text",
        "id": "sl-sm-txt",
        "label": "Solution label Text"
      }, {
        "type": "image_picker",
        "id": "foodmapImage",
        "label": "Fodmap Image"
      }, {
        "type": "text",
        "id": "foodmapPara",
        "label": "Fodmap Text"
      }, {
        "type": "text",
        "id": "foodmapCta",
        "label": "Fodmap Cta Link",
        "default": "https://www.monashfodmap.com/"
      }
    ],
    "blocks": [
      {
        "name": "Problem Grid",
        "type": "problemGrid",
        "settings": [
          {
            "type": "image_picker",
            "id": "pb_img",
            "label": "Problem Icon"
          }, {
            "type": "text",
            "id": "pb_text",
            "label": "Problem Text"
          }
        ]
      }
    ]
  }
{% endschema %}

<script>
  var controller1 = new ScrollMagic.Controller({
    globalSceneOptions: {
      duration: '70%'
    }
  });

  new ScrollMagic.Scene({triggerElement: "#how-to-use"}).setClassToggle("#use", "active").addTo(controller1);
</script>