<section class="padb-90 start-referring-section">
  <div class="start-referring over-hid">
    <div class="container">
      <div class="heading center trans">
        <div class="head over-hid">
          <h2 class="trans-first">{{ section.settings.head }}</h2>
        </div>
        {% if section.settings.enable_cta %}
          <div class="cta trans-sec">
            <a href="#!" class="primary-button black-green">{{ section.settings.cta }}</a>
          </div>
        {% endif %}
      </div>
      <div class="sr-flex trans">
        {% for block in section.blocks %}
          <div class="item">
            <div class="sr-img">
              <img
                src="{{ block.settings.rfImg | img_url: 'master' }}"
                alt=""
                class="img">
            </div>
            <div class="sr-txt">
              <div class="srt-head over-hid">
                <p class="num-head">
                  <span class="num">{{ block.settings.rfnum }}</span>
                  {{ block.settings.rfhead }}
                </p>
              </div>
              <div class="srt-para over-hid">
                <p class="small">{{ block.settings.rfPara }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Start Referring Section",
    "settings": [
      {
        "type": "text",
        "id": "head",
        "label": "Section Heading"
      }, {
        "type": "text",
        "id": "cta",
        "label": "CTA Text"
      }, {
        "type": "checkbox",
        "id": "enable_cta",
        "default": true,
        "label": "Enable CTA"
      }
    ],
    "blocks": [
      {
        "type": "referring-flex",
        "name": "Referring Steps",
        "limit": 3,
        "settings": [
          {
            "type": "image_picker",
            "id": "rfImg",
            "label": "Image"
          }, {
            "type": "text",
            "id": "rfnum",
            "label": "Number"
          }, {
            "type": "text",
            "id": "rfhead",
            "label": "Heading"
          }, {
            "type": "text",
            "id": "rfPara",
            "label": "Paragraph"
          }
        ]
      }
    ]
  }
{% endschema %}