<section class="error-template">
  <div class="error-template-wrapper">
    <div class="error-template-top">
      <div class="error-template-four">{{ section.settings.head }}</div>
      <div class="error-template-sad-smile">
        <img src="{{ section.settings.img1 | img_url: 'master' }}" alt="">
        <div class="error-template-sad-smile-image">
          <img src="{{ section.settings.img2 | img_url: 'master' }}" alt="">
        </div>
      </div>
      <div class="error-template-four">{{ section.settings.head }}</div>
    </div>
    <div class="error-template-bottom">
      <div class="error-template-body">
        <p>{{ section.settings.body }}</p>
      </div>
      <div class="error-template-button">
        <a href="{{ shop.url  }}" class="primary-button yellow-black">{{ section.settings.link_txt }}</a>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "404 Page",
    "settings": [
      {
        "type": "text",
        "id": "head",
        "label": "Section Heading"
      },
      {
        "type": "text",
        "id": "body",
        "label": "404 Body"
      },
      {
        "type": "text",
        "id": "link_txt",
        "label": "Button"
      },
      {
        "type": "image_picker",
        "id": "img1",
        "label": "Select Background Image"
      }, {
        "type": "image_picker",
        "id": "img2",
        "label": "Select Product Image"
      }
    ]
  }
{% endschema %}