<section class="pad-180 over-hid">
  <div class="container">
    <div class="recipe-learned">
      <div class="heading center trans over-hid">
        <h2 class="trans-first">{{ section.settings.head }}</h2>
      </div>
      <div class="recipe-cards trans">
        {% for article in blogs.all.articles limit: 3 %}
          <a href="{{ article.url }}">
            <div class="recipe-card">
              <div class="recipe-card-img">
                <img src="{{ article.image | img_url: 'master' }}" alt="">
              </div>
              <div class="recipe-card-content">
                <div class="recipe-card-content-head">
                  <h6>{{ article.title }}</h6>
                </div>
                <div class="recipe-card-content-body">
                  <p>{{ article.content | strip_html | truncatewords: 20 }}</p>
                </div>
              </div>
            </div>
            <div class="recipe-card-cta">
              <p>Read more</p>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Learned Recipes",
    "settings": [
      {
        "type": "text",
        "id": "head",
        "label": "Section Heading"
      }
    ],
    "blocks": [
      {
        "type": "recipeCard",
        "name": "Recipe Card",
        "settings": [
          {
            "type": "image_picker",
            "id": "imgLink",
            "label": "Image Link"
          }, {
            "type": "text",
            "id": "headText",
            "label": "Recipe Name"
          }, {
            "type": "text",
            "id": "bodText",
            "label": "Recipe Body"
          }
        ]
      }
    ]
  }
{% endschema %}