<section class="padt-90">
  <div class="what-you-eat-wrapper over-hid">
    <div class="heading center trans over-hid">
      <h2 class="trans-first">{{ section.settings.head }}</h2>
    </div>
    <div class="wyew-wrap trans">
      <div class="left-txt-con">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'left-side' %}
            <div class="item">
              <div class="head-num">
                <p>{{ block.settings.num }}</p>
              </div>
              <div class="line"></div>
              <div class="bt-txt">
                <p class="small">{{ block.settings.txt }}</p>
              </div>
            </div>
          {% endcase %}
        {% endfor %}
      </div>
      <div class="mid-img">
        <img src="{{ section.settings.img | img_url: 'master' }}" alt="">
      </div>
      <div class="right-txt-con">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'right-side' %}
            <div class="item">
              <div class="head-num">
                <p>{{ block.settings.num }}</p>
              </div>
              <div class="line"></div>
              <div class="bt-txt">
                <p class="small">{{ block.settings.txt }}</p>
              </div>
            </div>
          {% endcase %}
        {% endfor %}
      </div>
      <div class="mob-slider">
        <div class="owl-theme owl-carousel">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'left-side' %}
              <div class="item">
                <div class="head-num">
                  <p>{{ block.settings.num }}</p>
                </div>
                <div class="line"></div>
                <div class="bt-txt">
                  <p class="small">{{ block.settings.txt }}</p>
                </div>
              </div>
            {% endcase %}
          {% endfor %}
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'right-side' %}
              <div class="item">
                <div class="head-num">
                  <p>{{ block.settings.num }}</p>
                </div>
                <div class="line"></div>
                <div class="bt-txt">
                  <p class="small">{{ block.settings.txt }}</p>
                </div>
              </div>
            {% endcase %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "What You Eat",
    "settings": [
      {
        "type": "text",
        "id": "head",
        "label": "Section Heading"
      }, {
        "type": "image_picker",
        "id": "img",
        "label": "Section Image"
      }
    ],
    "blocks": [
      {
        "type": "left-side",
        "name": "Left Side",
        "limit": 3,
        "settings": [
          {
            "type": "text",
            "id": "num",
            "label": "Number for % use <span>%</span>"
          }, {
            "type": "text",
            "id": "txt",
            "label": "Text"
          }
        ]
      }, {
        "type": "right-side",
        "name": "Right Side",
        "limit": 4,
        "settings": [
          {
            "type": "text",
            "id": "num",
            "label": "Number for % use <span>%</span>"
          }, {
            "type": "text",
            "id": "txt",
            "label": "Text"
          }
        ]
      }
    ]
  }
{% endschema %}

<script>
  gsap.registerPlugin(ScrollTrigger);
  let mm = gsap.matchMedia();
  mm.add("(min-width: 600px)", () => {
      ScrollTrigger.defaults({
      markers: true
    });
    const tl = gsap.timeline({
      scrollTrigger: {
      trigger: ".what-you-eat-wrapper",
        
        start: "-100% top",
        end: "+=100",
        scrub: 1,
        pin: false
      }
    });
    tl
    .from(".wyew-wrap", {
        y: "20%",
        ease: "none" // No ease feels better with scrubed values
      })
    .to(".wyew-wrap", {
      y: "0",
      ease: "none" // No ease feels better with scrubed values
    });
  });
  mm.add("(min-width: 992px)", () => {
      ScrollTrigger.defaults({
      markers: true
    });
    const tl = gsap.timeline({
      scrollTrigger: {
      trigger: ".what-you-eat-wrapper",
        
        start: "-25% top",
        end: "90% 70%",
        scrub: 1,
        pin: false
      }
    });
    tl
    .from(".wyew-wrap", {
        y: "20%",
        ease: "none" // No ease feels better with scrubed values
      })
    .to(".wyew-wrap", {
      y: "0",
      ease: "none" // No ease feels better with scrubed values
    });
  });

  mm.add("(min-width: 1300px)", () => {
    ScrollTrigger.defaults({
      markers: true
    });
    const tl = gsap.timeline({
      scrollTrigger: {
      trigger: ".what-you-eat-wrapper",
        
        start: "-22% top",
        end: "90% 70%",
        scrub: 1,
        pin: false
      }
    });
    tl
    .from(".wyew-wrap", {
        y: "20%",
        ease: "none" // No ease feels better with scrubed values
      })
    .to(".wyew-wrap", {
      y: "0",
      ease: "none" // No ease feels better with scrubed values
    });
  });
  
</script>

<script>
  $('.owl-carousel').owlCarousel({
    loop: true,
    margin: 0,
    nav: false,
    dots: false,
    autoplay: true,
    autoplayTimeout: 8000,
    autoplayHoverPause: false,
    animateOut: 'fadeOut',
    responsiveClass: true,
    responsive: {
      0: {
        items: 1
      },
      600: {
        items: 1
      },
      1000: {
        items: 1
      }
    }
  })
</script>